.container {
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
}

.container-review {
  display: flex;
  margin-bottom: 3rem;
  border-radius: 10px;
  background-color: #f5f6fa;
  padding: 5px;
}
